<% include ./_front_topo.ejs%>

<div id ="mycard">

    <div class="demo-card-wide mdl-card mdl-shadow--2dp signupform">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Detalhes da Edição:</h2>
        </div>

        <div class="mdl-card__supporting-text">
            <div class=" errormessage" id="msgcolor">
                <div id="message"></div>
            </div>
            <form method="post">
                    <div id="usuario">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" required name="nome" value="<%= user.nome%>">
                            <label class="mdl-textfield__label" for="usuario">Nome:</label>
                            <span class="mdl-textfield__error">Informe seu nome</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" readonly required name="usuario" value="<%= user.usuario%>">
                            <label class="mdl-textfield__label" for="usuario">Usuário</label>
                            <span class="mdl-textfield__error">Informe um usuário</span>
                        </div>
                    </div>
                <div id="email">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" required name="email" value="<%= user.email%>">
                        <label class="mdl-textfield__label" for="email">Email</label>
                        <span class="mdl-textfield__error">Informe seu email</span>
                    </div>
                </div>

                    <div id="password">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="password"  name="password" >
                            <label class="mdl-textfield__label" for="password">Senha</label>
                            <span class="mdl-textfield__error">Informe uma senha válida!</span>
                        </div>
                    </div>

                <div id="Bio">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <textarea rows="3" class="mdl-textfield__input" type="text" required name="sobre"><%- user.sobre%></textarea>
                        <label class="mdl-textfield__label" for="sobre">Sobre</label>
                        <span class="mdl-textfield__error">Informe uma descrição para o sobre</span>
                    </div>
                </div>
                <%if(isAdmin){%>
                    <div id="email">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text"  name="acesso" value="<%= user.acesso%>">
                        <label class="mdl-textfield__label" for="acesso">Acesso</label>
                    </div>
                    </div>
                <%}%>
                <div id="Social">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text"  name="facebook" value="<%= user.Social.FaceBook%>">
                        <label class="mdl-textfield__label" for="facebook">Facebook:</label>
                        <span class="mdl-textfield__error">Informe sua URL</span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text"  name="twitter" value="<%= user.Social.Twitter%>">
                        <label class="mdl-textfield__label" for="facebook">Twitter:</label>
                        <span class="mdl-textfield__error">Informe sua URL</span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text"  name="website" value="<%= user.Social.WebSite%>">
                        <label class="mdl-textfield__label" for="facebook">WebSite:</label>
                        <span class="mdl-textfield__error">Informe sua URL</span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text"  name="linkedin" value="<%= user.Social.LinkedIn%>">
                        <label class="mdl-textfield__label" for="facebook">LinkedIn:</label>
                        <span class="mdl-textfield__error">Informe sua URL</span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text"  name="youtube" value="<%= user.Social.YouTube%>">
                        <label class="mdl-textfield__label" for="youtube">Youtube:</label>
                        <span class="mdl-textfield__error">Informe sua URL</span>
                    </div>
                </div>

                    <div>
                        <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" value="Atualizar" >
                        <a href="/" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Cancelar</a>
                    </div>
            </form>
        </div>

    </div>


</div>


<% include ./_front_rodape.ejs%>
